.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.techpartner{
text-align: center;
margin-top: 2%;
margin: 2%;
}

.techpartner h1{
  color: red;
  
  }
  
.techpartner p{
  text-align: justify;
  }

  .cookieImg{
    text-align: center;
  }

.Logos-section, .reviews{
justify-content: center;
width: 100%;
margin-top: 2%;
}
.technology-partners h2{
  color: red;
  text-align: center;
  text-decoration: underline;
  font-weight: 300px;
}
.company-logos img{
  width: 300px;
  height: 200px;
  margin: 4%;

}





footer {
  
  color: #555;
  font-size: 14px;
}


footer p {
  margin-bottom: 5px;
}

footer ul {
  margin-bottom: 10px;
}

footer li {
  margin-bottom: 5px;
}


@media (max-width: 768px) {
  .aboutus {
    max-width: 100%;
  }
}


@media (max-width: 767px) {
  footer h4 {
    font-size: 16px;
  }
}







